.App {
  text-align: center;
}

/* Define a variable at the top level of the cascade so that it is easily accessible to react */
:root {
  // colour palette
  --primary-light: #9be7ff;
  --primary-main: #64b5f6;
  --primary-dark: #2286c3;
  --primary-contrast-text: #263238;
  --secondary-light: #ffe97d;
  --secondary-main: #ffb74d;
  --secondary-dark: #c88719;
  --secondary-contrast-text: #263238;
}

.minefield {
  // default to 8 columns. This will be changed by react on demand.
  --columns: 8;
  // The content width you use on your website
  --content-width: 96vw;
  // The size of the gutter
  --gutter: 1vw;
  // This is the calculation for the row height.
  --row-size: calc(
    (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) /
      var(--columns)
  );

  display: grid;

  width: 100%;
  margin: 2vw auto;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);

  justify-items: center;
  align-items: center;

  font-size: calc(70vw / var(--columns));
  line-height: var(--row-size);

  > div {
    align-self: stretch;
    background: var(--secondary-light);
    border-radius: 50%;
    color: var(--secondary-contrast-text);
    justify-self: stretch;
    svg {
      margin: auto;
      height: 100%;
    }
  }
}
