.App {
  text-align: center;
}

/* Define a variable at the top level of the cascade so that it is easily accessible to react */
:root {
  // colour palette
  --primary-light: #9be7ff;
  --primary-main: #64b5f6;
  --primary-dark: #2286c3;
  --primary-contrast-text: #263238;
  --secondary-light: #ffe97d;
  --secondary-main: #ffb74d;
  --secondary-dark: #c88719;
  --secondary-contrast-text: #263238;
}

.minefield {
  // default to 8 columns. This will be changed by react on demand.
  --columns: 8;
  // The content width you use on your website
  --content-width: 96vw;
  // The size of the gutter
  --gutter: 1vw;
  // This is the calculation for the row height.
  --row-size: calc(
    (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) /
      var(--columns)
  );

  display: grid;

  width: 100%;
  margin: calc(2vw + 64px) auto 2vw auto;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);

  justify-items: center;
  align-items: center;

  font-size: calc(70vw / var(--columns));
  line-height: var(--row-size);

  > div {
    svg {
      margin: auto;
      height: 100%;
    }
  }
}

.scene {
  width: 100%;
  height: 100%;
  perspective: calc(var(--row-size) * 3);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  .front {
    background: var(--secondary-light);
    //color: var(--secondary-contrast-text);
    color: var(--primary-dark);
  }
  .back {
    color: var(--secondary-main);
    transform: rotateY(180deg);
  }
  &.reveal {
    transform: rotateY(180deg);
  }
  &.delay-0 {
    transition-delay: 0ms;
  }
  &.delay-1 {
    transition-delay: 100ms;
  }
  &.delay-2 {
    transition-delay: 200ms;
  }
  &.delay-3 {
    transition-delay: 300ms;
  }
  &.delay-4 {
    transition-delay: 400ms;
  }
  &.delay-5 {
    transition-delay: 500ms;
  }
}

.card-face {
  backface-visibility: hidden;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.pulse {
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    width: 60%;
    height: 60%;
    margin: 20%;
    opacity: 0.6;
    stroke-width: 3;
  }
  50% {
    width: 80%;
    height: 80%;
    margin: 10%;
    opacity: 1;
    stroke-width: 5;
  }
  100% {
    width: 60%;
    height: 60%;
    margin: 20%;
    opacity: 0.6;
    stroke-width: 3;
  }
}
